<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Log</title>
</head>
<body>
<div class="body-content" role="main">
<h1>Release Notes</h1>
    <h2>2023-06-24: Version 2.1</h2>
<div class="well" style="padding-bottom: 15px;">
  <h3 class="gutter-top-none">New Features:</h3>
  <ul>
    <li>
      Added ability to toggle between the requestor and ticketing user view of the Comment added template
    </li>
      <li>
      Added Custom #3 template
    </li>
  </ul>
</div>
<h2>2023-06-21: Version 2</h2>
<div class="well" style="padding-bottom: 15px;">
  <h3 class="gutter-top-none">New Features:</h3>
  <ul>
    <li>
      Re wrote application from scratch to allow for easier future updates and content additions
    </li>
      <li>
      Updated styles, controls and side nav content
    </li>
      <li>
      Release Notes Added
    </li>
  </ul>
    <h3>Bug Fixes:</h3>
  <ul>
    <li>Resolved issue where if 2 users in separate browsers attempt to save sample template at same time would cause an error</li>
  </ul>
</div>

<h2>2022-06-24: Version 1.2</h2>

<div class="well" style="padding-bottom: 15px;">
  <h3 class="gutter-top-none">New Features:</h3>
  <ul>
    <li>
      Added new template custom #1
    </li>
      <li>
      Added features to enable live preview on the template that a user is currently editing
    </li>
  </ul>
</div>

<h2>2022-03-21: Version 1.1</h2>

<div class="well" style="padding-bottom: 15px;">


  <h3 class="gutter-top-none">New Features:</h3>
  <ul>
    <li>Added ability to download and edit the default project and knowledgebase templates</li>
  </ul>


</div>
<h2>2022-03-19: Version 1</h2>

<div class="well" style="padding-bottom: 15px;">


  <h3 class="gutter-top-none">New Features:</h3>
  <ul>
    <li>First Release of tool</li>
  </ul>


</div>
  </div>
</body>
</html>