<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Teamdynamix Web API</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('NotificationEditor.static',filename='home.css') }}">
      <script src= "{{ url_for('NotificationEditor.static',filename='home.js') }}">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
      </script>
   </head>
   <body>
      <div class="sidenav">
             <img src="/static/TDX Graphics/TDX Icon fullcolor_rounded square.png" alt="tdx logo"><span class="titleText">TDX Notification Editor v2</span>

         <a href="#defaultTempalteAnchor">Default Template</a>
         <a href="#CustomTemplate1Anchor">Custom Template #1</a>
         <a href="#CustomTemplate2Anchor">Custom Template #2</a>
         <a id="changeLog" href="/ChangeLog">Change Log</a>


      </div>
      <div class="template-main-content-body">
         <div class="template-information-list">
<!--             Defaulted Template-->
            <div id="defaultTempalteAnchor" class="template-edit">
               <br>
               <h2>Default TeamDynamix Template</h2>
               <br>
               <p style="font-weight: bolder">Click on one of the color pickers, either paste the color code or use the eye dropper tool to alter the color for the corresponding sections on the template. Colors will be updated on the right preview.</p>
               <form method="post" action="{{url_for('NotificationEditor.download_defaultTemplates',formid=1)}}">
                  <div class="QuestionGroup">
                     <label for="Header1" class="form-label">Header 1 Color (Refers to "Comment" and "Incident Details")</label>
                     <p id="Header1_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" id="Header1" name="Header1Color" value="#FFFFFF" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'default-template-preview', 'default_h1', null, null, 'color')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="Header2" class="form-label">Text Color:</label>
                     <p id="Header2_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" id="Header2" name="Header2Color" value="#515A61" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'default-template-preview', 'default_text',null, null,'color')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="TableColor" class="form-label">Table/Border Color:</label>
                     <p id="TableColor_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" name="TableColor" id="TableColor" value="#0072c6" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'default-template-preview', 'default_table',null,null,'background-color'), updateDefaultedPreview(this.value, 'default-template-preview', 'default_table_boarder',null,null,'borderColor')">
                  </div>
                  <div class="QuestionGroup">
                     <p>Select what Templates you would like to generate</p>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckTicket" name="Ticket_CheckBox" checked>
                        <label class="form-check-label" for="flexCheckTicket">
                        Generate Ticket Notification Templates
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckKB" name="KB_CheckBox" >
                        <label class="form-check-label" for="flexCheckKB">
                        Generate Knowledgebase Notification Templates
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckProject" name="Project_CheckBox" >
                        <label class="form-check-label" for="flexCheckProject">
                        Generate Project Notification Templates
                        </label>
                     </div>
                  </div>
                  <div class="QuestionGroup"> Output Folder Name:
                     <input id="FolderName" class="form-control" name="OutputFolderName">
                  </div>
                  <button type="submit" class="btn btn-success">Generate Notification Templates</button>
                  <em style="font-size: 10px;">Downloads a zip file w/ txt documents containing new styling</em>
               </form>
            </div>
            <div class="template-preview">
               {{default_template_preview|safe}}
            </div>

<!--Consolidated custom 1-->
            <div id="CustomTemplate1Anchor" class="template-edit" >
               <br>
               <h2>Custom Template #1</h2>
               <br>
               <p style="font-weight: bolder">Click on one of the color pickers, either paste the color code or use the <br>eye dropper tool to alter the color for the corresponding sections on the template.</p>
               <form method="post" action="{{url_for('NotificationEditor.download_defaultTemplates',formid=2)}}">
                  <div class="QuestionGroup">
                     <label for="consolidated_Header1" class="form-label">Header 1 Color (Refers to "Comment" and "Incident Details")</label>
                     <p id="consolidated_Header1_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" id="consolidated_Header1" name="consolidated_Header1Color" value="#FFFFFF" title="Choose your color" oninput="updateFieldColor(this),updateDefaultedPreview(this.value, 'custom1-template-preview', 'custom1_h1', null, null,'color')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="consolidated_Header2" class="form-label">Text Color (Refers to ALL text excuding H1 text)</label>
                     <p id="consolidated_Header2_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" id="consolidated_Header2" name="consolidated_Header2Color" value="#515A61" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'custom1-template-preview', 'custom1_text', null , null,'color')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="consolidated_TableColor" class="form-label">Table/Border Color:</label>
                     <p id="consolidated_TableColor_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" name="consolidated_TableColor" id="consolidated_TableColor" value="#0072c6" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'custom1-template-preview', 'custom1_table', null , null,'background-color')">
                  </div>
                  <div class="QuestionGroup">
                     <p>Select what Templates you would like to generate</p>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="consolidated_flexCheckTicket" name="consolidated_Ticket_CheckBox" checked>
                        <label class="form-check-label" for="flexCheckTicket">
                        Generate Ticket Notification Templates
                        </label>
                     </div>
                  </div>
                  <div class="QuestionGroup">
                     Output Folder Name: <input id="consolidated_FolderName"class="form-control" name="consolidated_OutputFolderName">
                  </div>
                  <button type="submit" class="btn btn-success">Generate Notification Templates</button>
                  <em style="font-size: 10px;">Downloads a zip file w/ txt documents containing new styling</em>
               </form>
            </div>
            <div class="template-preview">
               {{custom1_template_preview|safe}}
            </div>
<!--OU Template Custom 2-->
            <div id="CustomTemplate2Anchor" class="template-edit">
               <br>
               <h2>Custom Ticket Template #2</h2>
               <br>
               <p style="font-weight: bolder">Click on one of the color pickers, either paste the color code or use the <br>eye dropper tool to alter the color for the corresponding sections on the template.</p>
               <form method="post" action="{{url_for('NotificationEditor.download_defaultTemplates',formid=3)}}" id="custom2_template_editor_form">
                  <div class="QuestionGroup">
                     <div class="row g-3">
                        <div class="col">
                           <label for="custom2_tableColor" class="form-label">Main Table Color</label>
                           <p id="custom2_tableColor_txtvalue"></p>
                           <input type="color" class="form-control form-control-color" id="custom2_tableColor" name="custom2_tableColor" value="#21145f" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'custom2-template-preview', 'custom2_tableColor', null , null,'background-color'), updateDefaultedPreview(this.value, 'custom2-template-preview', 'custom2_boarderColor', null , null,'border-color')">
                        </div>
                        <div class="col">
                           <label for="custom2_ticketLinkColor" class="form-label">Ticket Link Color</label>
                           <p id="custom2_ticketLinkColor_txtvalue"></p>
                           <input type="color" class="form-control form-control-color" id="custom2_ticketLinkColor" name="custom2_tableColor" value="#21145f" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'custom2-template-preview', 'custom2_ticketLinkColor', null , null,'color')">
                        </div>

                     </div>
                  </div>

                  <div class="QuestionGroup">
                     <label for="custom2_headerImageLink" class="form-label required">Header Image Link</label>
                     <em style="font-size: 10px;"><br>Must be a valid image link </em>

                     <p id="custom2_headerImageLink_txtvalue"></p>
                     <input type="input" required class="form-control" id="custom2_headerImageLink" name="custom2_headerImageLink" placeholder="https://solutions.teamdynamix.com/TDPortal/BE/Logo/91/0" oninput="updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_clientportalimage','src')">
                  </div>
                  <div class="QuestionGroup">
                     <div class="row g-3">
                        <div class="col">
                           <label for="custom2_headerImageWidth" class="form-label">Header Image Width</label>
                           <p id="custom2_headerImageWidth_txtvalue"></p>
                           <input type="number" class="form-control" id="custom2_headerImageWidth" name="custom2_headerImageLink" placeholder="200" value="200" oninput="updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_clientportalimage','width')">
                        </div>
                        <div class="col">
                           <label for="custom2_headerImageHeight" class="form-label">Header Image Height</label>
                           <p id="custom2_headerImageHeight_txtvalue"></p>
                           <input type="number" class="form-control" id="custom2_headerImageHeight" name="custom2_headerImageLink" placeholder="80" value="80" oninput="updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_clientportalimage','height')">
                        </div>
                     </div>
                  </div>
                   <div class="QuestionGroup">
                     <label for="custom2_ClientPortalURL" class="form-label required">Client Portal URL</label>
                     <p id="custom2_ClientPortalURL_txtvalue"></p>
                     <input type="input" required class="form-control" id="custom2_ClientPortalURL" name="custom2_headerImageLink" placeholder="https://solutions.teamdynamix.com" oninput="updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_clientportalURL','href')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="custom2_UpdateText" class="form-label">Update Text</label>
                     <em style="font-size: 10px;"><br>Supports HTML <br> If left blank no value will be present on form</em>
                     <p id="custom2_UpdateText_txtvalue"></p>
                     <input type="input" class="form-control" id="custom2_UpdateText" name="custom2_UpdateText" placeholder="To update this ticket you may reply to this email or view the status of the ticket by visiting the Solutions Service Portal." oninput="updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_updateText','innerHTML')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="custom2_BaseText" class="form-label">Bottom Table Text</label>
                     <em style="font-size: 10px;"><br>Supports HTML <br> If left blank no value will be present on form</em>
                     <p id="custom2_BaseText_txtvalue"></p>
                     <input type="input" class="form-control" id="custom2_BaseText" name="custom2_BaseText" placeholder="For additional assistance, please create a new support ticket" oninput="updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_bottomText','innerHTML')">
                  </div>
                  <div class="QuestionGroup">
                     <label for="custom2_BaseTextColor" class="form-label">Bottom Text Color</label>
                     <p id="custom2_BaseTextColor_txtvalue"></p>
                     <input type="color" class="form-control form-control-color" id="custom2_BaseTextColor" name="custom2_tableColor" value="#FFFFFF" title="Choose your color" oninput="updateFieldColor(this), updateDefaultedPreview(this.value, 'custom2-template-preview', null, null , 'custom2_bottomText','color')">

                  </div>
                  <div class="QuestionGroup">
                     <p>Select what Templates you would like to generate</p>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="custom2_flexCheckTicket" name="consolidated_Ticket_CheckBox" checked disabled>
                        <label class="form-check-label" for="flexCheckTicket">
                        Generate Ticket Notification Templates
                        </label>
                     </div>
                  </div>
                  <div class="QuestionGroup">
                     Output Folder Name: <input id="custom2_FolderName"class="form-control" name="consolidated_OutputFolderName">
                  </div>
                  <button type="submit" class="btn btn-success">Generate Notification Templates</button>
                  <em style="font-size: 10px;">Downloads a zip file w/ txt documents containing new styling</em>
                  <script>
                     document.getElementById('custom2_template_editor_form').addEventListener('keydown', function(event) {
                        if (event.key === 'Enter') {
                           event.preventDefault();
                        }});
                  </script>
               </form>
            </div>
            <div class="template-preview">
               {{custom2_template_preview|safe}}
            </div>
         </div>
      </div>
   </body>
</html>