<div id="custom4-template-preview">
    <div id="custom4-template-preview-requestorView">

   <table id="email-body-requestor" style="background-color: white; border: 1px solid #1d283a; border-collapse: collapse; box-sizing: border-box; font-family: Arial, sans-serif; margin: auto; max-width: 700px; min-width: 400px; width: 100%;">
      <!-- ⇓ EMAIL HEADER ⇓ -->
      <tbody>
         <tr>
            <td id="header-banner" style="padding: 0;">
               <img id="custom-4-headerImage-requestor" style="height: 120px; object-fit: cover; width: 100%;" src="/static/Home-Hero-Clouds-lite.png">
            </td>
         </tr>
         <tr>
            <td id="header-logo" style="padding: 1%;">
               <table style="margin: auto; width: 315px;">
                  <tbody>
                     <tr>
                        <td id="header-icon">
                           <img id="custom-4-secondLogoImage-requestor" src="/static/smallTDXLogo.png" style="height: 80px">
                        </td>
                        <td id="header-text" style="text-align: center;">
                           <div id="custom4-supportText-requestor" style="margin-left: -10px; font-size: 20px; line-height: 2; letter-spacing: 1px;">TDX Support</div>
                           <div id="custom4-serviceText-requestor" style="margin-left: -10px; font-size: 48px; line-height: .8;">Services</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <!-- #header-text -->
            </td>
         </tr>
         <!-- #header-logo-->
         <!-- ⇑ EMAIL HEADER ⇑ -->
         <!-- ⇓ EMAIL BODY ⇓ -->
         <tr>
            <td id="ticket-info" style="padding: 2%;">
               <h2 style="text-align: center; background-color: #222222; border-radius: 12px 12px 0 0; color: white; font-weight: 400; margin: 0; padding: 12px;">
                  Ticket #123456
               </h2>
               <div style="border: 1px solid #1d283a; border-radius: 0 0 12px 12px; padding: 12px;">
                  Configure desktop computer for New Employee
               </div>
            </td>
         </tr>
         <tr>
            <td id="request-details" style="padding: 2%;">
               <h2 style="text-align: center; background-color: #222222; border-radius: 12px 12px 0 0; color: white; font-weight: 400; margin: 0; padding: 12px;">
                  New Comment / Update
               </h2>
               <div style="border: 1px solid #1d283a; border-radius: 0 0 12px 12px; padding: 12px;">
                  <div>
                     Andrey Little updated ticket on Fri 12/8/23 8:49 AM Eastern Standard Time:
                  </div>
                  <blockquote style="border-left: 3px solid #88aae3; border-radius: 6px; padding: 12px; margin: 12px;">
                     I'm commenting on this ticket to generate some sample data for notifications.
                  </blockquote>
               </div>
            </td>
         </tr>
         <tr>
            <td id="ticket-details" style="padding: 2%;">
               <h2 style="text-align: center; background-color: #222222; border-radius: 12px 12px 0 0; color: white; font-weight: 400; margin: 0; padding: 12px;">
                  Ticket Details
               </h2>
               <div style="border: 1px solid #1d283a; border-radius: 0 0 12px 12px; padding: 12px;">
                  <table>
                     <!--Requestor-->
                     <tbody>
                        <tr>
                           <td style="font-weight: bold; width: 135px;">Requestor/Client:</td>
                           <td>Jamie Kenton</td>
                        </tr>
                        <!--Created Date-->
                        <tr>
                           <td style="font-weight: bold;">Date Created:</td>
                           <td>Wed 12/6/23 8:49 AM Eastern Standard Time</td>
                        </tr>
                        <!--Service Name-->
                        <tr>
                           <td style="font-weight: bold;">Request type:</td>
                           <td>Hardware Services / I need a new workstation</td>
                        </tr>
                        <!--Responsible-->
                        <tr>
                           <td style="font-weight: bold;">Technician:</td>
                           <td>James Noeth</td>
                        </tr>
                        <!--Status-->
                        <tr>
                           <td style="font-weight: bold;">Status:</td>
                           <td>In Progress</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
         <!-- #ticket-details -->
         <tr>
            <td style="height: 75px; padding: 2%; text-align: center;">
               <a class="custom4-button-background" id="custom4-link-to-ticket" style="background-color: #21145f; border-radius: 12px; color: white; display: inline-block; font-size: 25px; padding: 12px 24px; text-decoration: none;" href="http://www.myorganization.edu/TDClient/SamplePath/SamplePage.aspx?Item=12345">View this ticket</a>
            </td>
         </tr>
         <!-- ⇑ EMAIL BODY ⇑ -->
         <!-- ⇓ EMAIL FOOTER ⇓ -->
         <tr>
            <td id="quicklinks" style="padding: 2%;">
            </td>
         </tr>
         <!-- quicklinks -->
         <tr>
            <td style="padding: 2%;">
               <hr style="border-top: 1px solid #222222; margin: 0 auto; width: 80%;">
            </td>
         </tr>
         <tr>
            <td id="logo" style="text-align: center; margin: auto; max-width: 600px; min-width: 330px; padding: 2%;">
               <img id="custom4-footerimage-requestor" src="/static/TDX Graphics/TDXLogo.png" style="height: 80px; object-fit: contain; width: 80%;">
            </td>
         </tr>
         <!-- #logo -->
         <!-- ⇑ EMAIL FOOTER ⇑ -->
      </tbody>
   </table>

    </div>
    <div class="hidden" id="custom4-template-preview-TicketingUserView">
        <table id="email-body" style="background-color: white; border: 1px solid #1d283a; border-collapse: collapse; box-sizing: border-box; font-family: Arial, sans-serif; margin: auto; max-width: 700px; min-width: 400px; width: 100%;">
<!-- ⇓ EMAIL HEADER ⇓ -->
    <tbody><tr><td id="header-banner" style="padding: 0;">
        <img id="custom-4-headerImage-ticketinguser" alt="Image of the Biola Library behind a row of trees." style="height: 120px; object-fit: cover; width: 100%;" src="/static/Home-Hero-Clouds-lite.png">
    </td></tr>

    <tr><td id="header-logo" style="padding: 1%;">
        <table style="margin: auto; width: 315px;"><tbody><tr>
            <td id="header-icon">
                <img id="custom-4-secondaryImage-ticketinguser" src="/static/smallTDXLogo.png" style="height: 80px">
            </td>
            <td id="header-text" style="text-align: center;">
                <div id="custom4-supportText-ticketinguser" style="margin-left: -10px; font-size: 20px; line-height: 2; letter-spacing: 1px;">TDX Support</div>
                <div id="custom4-serviceText-ticketinguser" style="margin-left: -10px; font-size: 48px; line-height: .8;">Services</div>
            </td>
        </tr></tbody></table> <!-- #header-text -->
    </td></tr> <!-- #header-logo-->
<!-- ⇑ EMAIL HEADER ⇑ -->

<!-- ⇓ EMAIL BODY ⇓ -->
    <tr><td id="ticket-info" style="padding: 2%;">
        <h2 style="text-align: center; background-color: #222222; border-radius: 12px 12px 0 0; color: white; font-weight: 400; margin: 0; padding: 12px;">
            Ticket #123456
        </h2>
        <div style="border: 1px solid #1d283a; border-radius: 0 0 12px 12px; padding: 12px;">
            Configure desktop computer for New Employee
        </div>
    </td></tr>

    <tr><td id="request-details" style="padding: 2%;">
        <h2 style="text-align: center; background-color: #222222; border-radius: 12px 12px 0 0; color: white; font-weight: 400; margin: 0; padding: 12px;">
            New Comment / Update
        </h2>
        <div style="border: 1px solid #1d283a; border-radius: 0 0 12px 12px; padding: 12px;">
            <div>
                Andrey Little updated ticket on Fri 12/8/23 9:53 AM Eastern Standard Time:
            </div>
            <blockquote style="border-left: 3px solid #2268ab; border-radius: 6px; padding: 12px; margin: 12px;">
                I'm commenting on this ticket to generate some sample data for notifications.
            </blockquote>
        </div>
    </td></tr>

    <tr><td id="ticket-details" style="padding: 2%;">
        <h2 style="text-align: center; background-color: #222222; border-radius: 12px 12px 0 0; color: white; font-weight: 400; margin: 0; padding: 12px;">
            Ticket Details
        </h2>
        <div style="border: 1px solid #1d283a; border-radius: 0 0 12px 12px; padding: 12px;">
        <table>

            <!--Requestor-->
            <tbody><tr><td style="font-weight: bold; width: 135px;">Requestor/Client:</td><td>Jamie Kenton</td></tr>

            <!--Created Date-->
            <tr><td style="font-weight: bold;">Date Created:</td><td>Wed 12/6/23 9:53 AM Eastern Standard Time</td></tr>

            <!--Service Name-->
            <tr><td style="font-weight: bold;">Request type:</td><td>Hardware Services / I need a new workstation</td></tr>

            <!--Location-->
            <tr><td style="font-weight: bold;">Location:</td><td>129 W. 81st / 5B</td></tr>

            <!--Responsible-->
            <tr><td style="font-weight: bold;">Technician:</td><td>James Noeth</td></tr>

            <!--Status-->
            <tr><td style="font-weight: bold;">Status:</td><td>In Progress</td></tr>

            <!--Priority-->
            <tr><td style="font-weight: bold;">Priority:</td><td>Medium - Complete within 5 days</td></tr>

            <!--SLA-->
            <tr><td style="font-weight: bold;">SLA:</td><td>Initial Desktop Configuration</td></tr>

            <!--Due Date-->
            <tr><td style="font-weight: bold;">Due Date:</td><td>Thu 12/7/23</td></tr>

            <tr><td style="font-weight: bold;">View Ticket:</td><td><a href="http://www.myorganization.edu/TDNext/SamplePath/SamplePage.aspx?Item=12345">TDNext</a> or <a href="http://www.myorganization.edu/TDMobile/SamplePath/SamplePage.aspx?Item=12345">TDMobile</a></td></tr>
        </tbody></table>
    </div></td></tr> <!-- #ticket-details -->


<!-- ⇑ EMAIL BODY ⇑ -->

<!-- ⇓ EMAIL FOOTER ⇓ -->
       <tr><td id="logo" style="text-align: center; margin: auto; max-width: 600px; min-width: 330px; padding: 2%;">
        <img id="custom4-footerimage-ticketUser" src="/static/TDX Graphics/TDXLogo.png" style="height: 80px; object-fit: contain; width: 80%;">
    </td></tr> <!-- #logo -->


<!-- ⇑ EMAIL FOOTER ⇑ -->
</tbody></table>

    </div>

</div>